#divMapa {
    widows: 100%;;
    height:450px;
    border: 1px solid black;
}

h1 {

    text-align-last: center;
    font-family: 'Times New Roman', Times, serif;
}

p {
    margin:20px;
}


h2 {

    text-align-last: left;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}

form {
    text-align-last: center ;
}
